/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disable the scrollbar */
}

body {
  @apply text-light-gray;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(18, 18, 18, 0.9) 30%, rgba(0, 0, 0, 1) 60%);
}

.section {
  @apply flex items-center justify-center min-h-screen;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(18, 18, 18, 0.9) 30%, rgba(0, 0, 0, 1) 60%);
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white font-bold;
}

a {
  @apply text-soft-purple hover:text-teal;
}

.button {
  @apply bg-soft-purple text-dark-gray hover:bg-teal;
}
